@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  80% {
    transform: translateX(5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6.25rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes logoDrop {
  0% {
    opacity: 0;
    transform: scale(1.5) rotate(0deg);
  }

  50% {
    transform: rotate(-360deg);
  }

  100% {
    opacity: 1;
  }
}
